.rodape {
  background-color: #000000;
  display: grid;
  padding: 60px 40px;
  margin: 0 auto;
}

.contatos {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0px;
  gap: 100px;
  align-items: center;
  margin: 0 auto;
}

.contatos p {
  color: #a3a3a3;
  font-size: 1.5rem;
  position: relative;
}

.contatos p::before {
  content: "";
  width: 130px;
  height: 120px;
  background: url(/img/detalhe.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -230px;
}

.contatos ul {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 2;
}

.direitos {
  padding: 50px 0px;
  color: #8f8f8f;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .contatos p::before {
    top: -190px;
  }

  .contatos {
    grid-template-columns: auto;
    gap: 20px;
  }

  .contatos ul {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2;
  }

  .direitos {
    padding: 10px;
  }
}
