/* Formatação Geral */
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  margin: 0px;
  font-family: "Fira sans", Arial, sans-serif;
  background-color: white;
}

/* Formatação do  Cabeçalho*/

.conteudo {
  display: grid;
  gap: 20pxpx;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.logo {
  width: 100px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.menu a {
  padding: 10px 20px;
  color: black;
  font-size: 1.1rem;
}

/* Formatação Introdução */

.info {
  display: grid;
}

.topo {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 100px;
  padding: 40px;
}

.topo img {
  max-width: 360px;
}

.titulo {
  display: grid;
  align-content: center;
}

.titulo h1 {
  font-size: 4.5rem;
  word-break: normal;
  position: relative;
  color: #141414;
}

.titulo h1::before {
  content: "";
  width: 130px;
  height: 120px;
  background: url(/img/detalhe.svg);
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -50px;
}

.titulo p {
  font-size: 1.5rem;
  color: #525252;
  margin-top: 25px;
}

/* Formatação Experiência */

.experiencias {
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 100px;
  padding: 40px;
}

.experiencias h2 {
  text-transform: uppercase;
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.1);
  word-break: break-all;
}

.experiencias-info {
  display: grid;
}

.introducao {
  font-size: 1.5rem;
  justify-self: left;
  padding: 20px;
  max-width: 40ch;
  color: #525252;
}

.destaque {
  color: black;
}

/* Formatação lista de experiências */
